@use "../partials/custom" as *;
.cert {
  width: 300px;
  height: 250px;
  margin: auto;

  @include media-breakpoint-up(sm) {
    width: 60%;
    // height: fit-content;
    height: auto;
    img {
      width: 90%;
      height: 100%;
      margin: auto;
      border: 1px solid gray;
    }
  }
  @include media-breakpoint-up(lg) {
    width: 40%;
    height: 400px;
  }
}
