@use "./mixins" as *;
.headline {
  @include anim(black, red, red, black);
  background-size: 300% auto;
  animation: textGradient 5s ease-in-out infinite alternate;
}

@keyframes textGradient {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
