@use "../partials/custom" as *;
#skills {
  height: 350px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  .set {
    animation: carousel 14s linear infinite;
    @include media-breakpoint-down(sm) {
      animation: carousel 10s linear infinite forwards;
    }

    .skill {
      height: 100px;
      width: 150px;

      &-logo {
        img {
          min-height: 100px;
          max-height: 100px;
        }
      }
    }
    &:hover {
      animation-play-state: paused;
    }
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 11));
  }
}
